@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


/* body{
  background-image: url("./Assets/clearBook.gif");
  background-size: cover;
  width:"1792vw";
  height:"1009vh";
} */

.HeroImage{
  background-image: url("./Assets/image2.jpg");
  background-size: cover;
  height: 100vh;
}

.mtCustom{
  margin-top: 140px;
  margin-left: 230px;
}
.startGame{
 margin-left: 210px;
 margin-top: 140px
}


.marginTop{
  margin-top: 50px;
}

.MainTitle{
  font-family: 'Redressed', cursive !important;
  font-size: 80px !important;
  color: rgb(82, 56, 24) !important;
  margin-top: 240px;
  margin-right: 50px;
  text-align: center;
  }

  .TextStyle{
    color: rgb(82, 56, 24);
    font-family: 'Redressed', cursive !important;
    font-size: 60px;
  }
.mLeft{
  margin-left: 170px;
}
.ButtonDesign{
  width:400px !important;
  height:80px !important;
  color: rgb(255, 255, 255) !important;
  background: #cd811f !important; /* fallback for old browsers */
  border-radius: 30px !important;
  border: none !important;
  font-size: 40px !important;
  font-family: 'Redressed', cursive !important;
  /* font-weight: bold !important; */
}
.ButtonDesign:hover {
  background:rgb(240, 179, 73) !important;
  color: black !important;
  border-radius: 40px !important;
  border: none !important;
  box-shadow: 0 0 5px white,
              0 0 25px white,
              0 0 50px white,
              0 0 100px white !important;
}

